.autores {
    font-weight: 700;
    font-size: 20px;
}

.relatorio{
    text-decoration: underline;
}

.datas{
    color:darkgoldenrod
}

.configuracaoDescricao{
    margin-left: 20px;
    width: 80%;
    font-size: 15px;
    text-align:justify;
}

.links{
    color:cornflowerblue
}

.imagem{
    width: 1000px;
}

.legenda{
    font-size: 20px;
    text-decoration: underline;
}

.linkGrande{
    font-size: 20px;
    color:cornflowerblue
}

.trio{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 60%;
}

pre {
    background-color: #f4f4f4; 
    border: 1px solid #ddd;   
    border-radius: 5px;       
    padding: 15px;            
    overflow-x: auto;         
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}